.jumbotron {
    background-color:LightSteelBlue;
    color:MidnightBlue;
    margin-top:30px;
  }
  
 .flex-container{
  display:flex;
  flex-wrap:wrap;
  
}

footer {
    padding: 10px 10px 0 10px;
    background-color:LightSteelBlue;
    margin-top: 10px;
  }
  .card-hotel{
    flex: 1 200px;
    margin-top:10px;
  }

.btn-reserva{
  width:100%;
  border-radius:0px;
}
.tab-content{
  padding-top: 10px;
}




    