﻿
@salmon:#fa8072;
@darkred:#8b0000;
.margenes(@top:0px, @bottom:0px) {
    margin-top:@top;
    margin-bottom:@bottom;
}
.jumbotron {
  background-color: @salmon !important; 
  color:@darkred;
.margenes(50px, 0px);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: salmon;
  .margenes(10px, 0px);
}
.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px);
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.tab-content {
  padding-top: 10px;
}