
$LIGHTBLUE:#ADD8E6;
$MIDNIGHTBLUE:#191970;
@mixin margenes($top, $bottom) {
    margin-top:$top;
    margin-bottom:$bottom;
    
}
.jumbotron {
    background-color:LIGHTBLUE;
    color:MIDNIGHTBLUE;
    @include margenes(50px, 0px);
  }
  
 .flex-container{
  display:flex;
  flex-wrap:wrap;
  
}

footer {
    padding: 10px 10px 0 10px;
    background-color:LIGHTBLUE;
    margin-top: 10px;
  }
  .card-hotel{
    flex: 1 200px;
    margin-top:10px;
  }

.btn-reserva{
  width:100%;
  border-radius:0px;
}
.tab-content{
  padding-top: 10px;
}