.jumbotron {
  background-color: #fa8072 !important;
  color: #8b0000;
  margin-top: 50px;
  margin-bottom: 0px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: salmon;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.tab-content {
  padding-top: 10px;
}
